<html>
<head>
    <title>TempEAUX</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}"/>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/eau.ico') }}"/>
<body>
	<div id="main">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<img class="navbar-brand" src="{{url_for('static', filename='images/temper.png')}}"/>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="{{ url_for('acceuil') }}">Home <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="{{ url_for('Actualités') }}">Actualités</a>
					<a class="nav-item nav-link" href="{{ url_for('Contact') }}">Contact</a>
				</div>
			</nav>
		</header>
		<main >
			<div class= hero>
				<h1>Température des cours d'eau</h1>
				<p>Température en continu dans les cours d'eau français</p>
			</div>
			<div class= barre_recherche id="recherche">
				<form class="searchform group" methode="GET" action="">
					<input type="search" name="q" id="search-box" placeholder="Rechercher">
					<img src ="{{url_for('static', filename='images/magnifier.svg')}}" class="icone-loupe"/>
				</form>
			</div>
			<div class="bar"></div>
			<ul>
				{% for foo in data["data"] %}
				<li>{{ foo["libelle_station"] }}</li>
				{% endfor %}
			</ul>
		</main>
		<footer>
			<p>© copyright 2020 - Groupe 1 -</p>
		</footer>
	</div>
</body>
</html>